<h2>Home</h2>
<hr />
<p>I have been building and developing web sites for clients both large and small all over the world for well over a decade now. I call myself very fortunate that my job is also my hobby.</p>
<div class="lhs vcard">
  <div class="org" title="TCIAS Pty Ltd" lang="en">
    <h2><span class="orgtcias">Teacup In A Storm</span></h2>
  </div>
  <div class="name" lang="en">
    <h2 class="fn n"><span class="given-name">Greg</span> <span class="family-name">Stewart</span></h2>
    <h2 class="title" lang="en">Consultant/Developer</h2>
  </div>
  <div class="info">
    <h3><abbr class="type" title="email">Email</abbr></h3>
    <script type="text/javascript">
    //<![CDATA[
    <!--
    var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
    "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
    " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!68{)rt{y+xx=l;=+;" +
    "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
    "\"(5),1\\\"\\\\35\\\\05\\\\02\\\\\\\\37\\\\0n\\\\\\\\\\\\00\\\\07\\\\03\\\\" +
    "\\\\0A\\\"\\\\\\\\\\\\IVU56ZWD\\\\\\\\\\\\\\\\GWBRJW\\\\\\\\\\\\\\\\2JV)elj" +
    "'elgno!\\\\n]\\\\27\\\\00\\\\03\\\\\\\\23\\\\05\\\\02\\\\\\\\U;H*21\\\\07\\" +
    "\\03\\\\\\\\06\\\\00\\\\03\\\\\\\\04\\\\0O\\\\1L16\\\\06\\\\01\\\\\\\\35\\\\"+
    "0I\\\\\\\\r7\\\\01\\\\\\\\22\\\\0E\\\\\\\\t4\\\\01\\\\\\\\20\\\\07\\\\00\\\\"+
    "\\\\0@123902\\\\\\\\-g2;7< !2m03\\\\\\\\05\\\\0a\\\\01\\\\06\\\\01\\\\\\\\0" +
    "b03\\\\\\\\13\\\\00\\\\00\\\\\\\\13\\\\03\\\\02\\\\\\\\06\\\\06\\\\02\\\\\\" +
    "\\03\\\\06\\\\00\\\\\\\\20\\\\06\\\\00\\\\\\\\PzQJZU3W03\\\\\\\\nd\\\\\\\\P" +
    "P[F22\\\\0P\\\\14\\\\0r\\\\\\\\\\\\06\\\\0C\\\\yqsookb9q{g~7r17\\\\\\\\\\\\" +
    "k(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr=So+7;12%=;y=iy" +
    "+5)=1i=f({i+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\\\\\\"\\\\o=i,r va){,y(x fonti" +
    "ncfu)\\\"\")"                                                                ;
    while(x=eval(x));
    //-->
    //]]>
    </script>
    <br />
    <h3><abbr class="type" title="blog">Blog</abbr></h3>
    <a class="blog" href="http://gregs.tcias.co.uk/" accesskey="W" tabindex="2">gregs.tcias.co.uk</a><br />
    <h3>Skype</h3>
    <a class="url" href="skype:wildecard1999?call" accesskey="S" tabindex="3">Skype me</a>
    <div class="tel"><h3><abbr class="type" title="work">Phone</abbr></h3><span class="value">+44 208 2869246</span></div>
    <div class="tel"><h3><abbr class="type" title="cell">Mobile</abbr></h3><span class="value">+44 7891 032239</span></div>
    <div class="adr"><h3><abbr class="type" title="work">Office</abbr></h3><span lang="en" xml:lang="en"><span class="street-address">23 Newtown Rd</span> <span class="locality">Wimbledon</span> <span class="region">London</span> <span class="postal-code">SW19 3PJ</span></span></div>
  </div>
</div>
				