
    <!-- Header row -->
    <div id="header">
			<h3>Header</h3>
			<div id="logo"></div>
			<div id="tag"><img src="/images/tag_line.gif" alt="Form follows function" longdesc="/v2/tag_line.txt" height="26" width="294"><a href="tag_line.txt">d</a></div>
			<hr>
		</div>
		<!-- End header row -->
		<!-- Navigation -->
		<div id="navigation">

			<h3>Navigation</h3>
			<ul>
				<li><a href="index.html" title="HOME [h]" accesskey="h">HOME</a></li>
				<li><a href="portfolio.html" title="PORTFOLIO [p]" accesskey="p">PORTFOLIO</a></li>
			</ul>
		</div>
		<br>
		<!-- End navigation -->
		<!-- Start breadcrumb -->
		<div id="breadcrumb">
			<h3>Breacrumb</h3>
			<ul>
				<li><a href="index.html" title="tcias">tcias</a> [&#8226;] </li>
				<li><a href="portfolio.html" title="portfolio">portfolio</a></li>
			</ul>
		</div>
		<!-- End breadcrumb -->
		<!-- Start content -->
		<div id="content">

			<!-- Start wrap -->
			<div class="wrap">

				<!-- Main Column -->
				<div class="maincol" id="central">
					<h3>Main col</h3>
					<h2>Portfolio</h2>
					<hr>
					<div class="case">
						<img src="images/case/reach_case_1.gif" alt="Reach 1" class="floatleft" align="left" height="50" width="50">
						<h4>Reach Conferencing</h4>
						<p>I helped this new Australian conferencing start up enter the on-line fray, define an on-line identity and implement a successful search engine optimised web site. </p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/robbie_case_1.gif" alt="Robbie 1" class="floatleft" align="left" height="50" width="50">
						<h4>Robbie Slater</h4>
						<p>Former Permier League Football star and Socceroo, now Foxtel TV pundit, Robbie Slater was looking to make his voice heard on topics covering all aspects of football, but more specifically he wanted a forum to discuss the game in Australia. I was engaged to build a site with a bespoke CMS as wel as configure some forum software.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/chandler_case_1.gif" alt="Chandler Macleod Group" class="floatleft" align="left" height="50" width="50">
						<h4>Chandler Macleod Group</h4>
						<p>Chandler Macleod Group (CMG) are the largest Australian owned Recruitment and Human Capital management company, providing services to individuals and companies alike ranging from employment opportunities, outsourced salary packaging to on-line aptitude and psychology assessment.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/br_case_1.gif" alt="Brand Republic" class="floatleft" align="left" height="50" width="50">
						<h4>Brand Republic</h4>
						<p>With over one million hits a day one of the busiest media information websites in the UK. I developed the original job portal and implemented a standards based templating system that interfaced with the newly created SMS that drives all of Haymarket's websites.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/simmons_case_1.gif" alt="Simmons &amp; Simmons" class="floatleft" align="left" height="50" width="50">
						<h4>Simmons &amp; Simmons</h4>
						<p>One of the Uk's top 10 Law firms. During my time there I helped them upgrade and improve their ColdFusion powered web sites, helping them migrate their legacy code in their Intranet and corprate website to a CFC based architecture.</p>
						<p>I also developed and implemented solutions that interfaced with the new business management infrastructure.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/hometrack_case_1.gif" alt="Hometrack" class="floatleft" align="left" height="50" width="50">
						<h4>Hometrack</h4>
						<p>My most recent and current place of work client. I have been helping them deliver online solutions in the AVM market delivering AJAX driven interfaces that interact with their platforms to deliver rich and interactive applications.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<!--<div class="case">
						<img src="images/case/new_leaf_healing_case_1.gif" alt="New Leaf Healing" class="floatleft" align="left" height="50" width="50">
						<h4>New Leaf Healing</h4>
						<p>blah.</p>
						<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>
					</div>-->
					<!--<div class="case">
						<img src="images/case/chandler_case_1.gif" alt="White Pointer" class="floatleft" align="left" height="50" width="50">
						<h4>White Pointer</h4>
						<p>blah.</p>
						<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>
					</div>-->
					<!--<div class="case">
						<img src="images/case/plain_enlgish_foundation_case_1.gif" alt="Plain English Foundation" class="floatleft" align="left" height="50" width="50">
						<h4>Plain English Foundation</h4>
						<p>Blah</p>
						<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>
					</div>-->
					<div class="case">
						<img src="images/case/tws_case_1.gif" alt="Talk Web Solutions" class="floatleft" align="left" height="50" width="50">
						<h4>Talk Web Solutions</h4>
						<p>A friend of mine in the UK is the owner at <acronym title="Talk Web Solutions">TWS</acronym>. Most recently I have been assisting them with building the ArtReview website, adding in Google maps, calendar exports/imports and helping them build a todo application.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/rocketboots_case_1.gif" alt="Rocketboots" class="floatleft" align="left" height="50" width="50">
						<h4>Rocketboots</h4>
						<p>While in Australia I was also acting as a consultant for Rocketboots, providing ColdFusion training and assisting with ColdFusion and Flex based consulting.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
					<div class="case">
						<img src="images/case/masala_case_1.gif" alt="Masala Mix" class="floatleft" align="left" height="50" width="50">
						<h4>Masala Mix</h4>
						<p>Masala Mix is a unique radio show broadcast on community radio 2SER-FM in Sydney. Each week the Masala Mix broadcasts a cross-pollinated sound which brings together Hindi film music, Bhangra, dhol break beats and  the latest in experimental Asian underground music.</p>
						<!--<p align="right"><img src="images/tcias_more.gif" alt="next case study" align="absmiddle" width="16" height="16" border="0" /></p>-->
					</div>
				</div>
				<!-- End Main Column -->

				<!-- Sub Column -->
				<div class="subcol">
					<h3>Left col</h3>

				</div>
				<!-- End Sub Column -->

			</div>
			<!-- End wrap -->

			<!-- Xtra Column -->
			<div class="xcol">
				<h3>Right col</h3>

			</div>
			<!-- End Xtra Column -->

		</div>
		<!-- End content -->
		<!-- Footer row -->
		<div id="footer">
			<hr>
			<h3>Footer</h3>
		</div>
        <!-- End footer row -->
