/*
	css variables
*/
$black: #000;
$charcoal_grey: #666;
$shade_of_grey: #b3aba8;
$lighter_grey: #938883;
$even_lighter_grey: #dad5d3;
$drop_shadow_grey: #dad5d9;
$white: #fff;
$off_white: #faf9f8;
$orange: #f66419;
$light_blue: #9bcdff;
$brick_red: #d68585;
$fancy_red: #ff6a6a;