

/* start header */
header {
	padding: 0;
	margin: 0;
	background-image: url(/images/header_bg.gif);
	background-repeat: no-repeat;
	height: 100px;
 	voice-family:inherit;
    height: 100px;

} html>body {height: 100px;}

#tag {
	padding-left : 350px;
	padding-top : 15px;
}

/* navigation in header style */
navigation {
	padding-left : 340px;
	margin-top : -26px;
	font-size : 85%;
    ul {
        margin : 0 0 0 12px;
    }
    li {
        background-color : $white;
        border: 1px solid $lighter_grey;
        margin-left : 2px;
        margin-right : 1px;
        padding-left:20px;
        padding-right:14px;
        padding-bottom : 1px;
        text-align : right;
    }
    a {
        background-color : $white;
        color : $orange;
        text-decoration : none;
        text-transform : uppercase;
        &:hover { text-decoration : underline; }
    }
}
/* end header */

/* start body */
body {
    background-image : url(/images/teacup.gif);
    background-repeat : no-repeat;
    height : 600px;
    voice-family : inherit;
    height : 600px;
} html>body {height : 600px;}

/* start breadcrumb */
#breadcrumb {
	padding-left : 20px;
	font-size : 85%;
    ul {
        color : $charcoal_grey;
    }
    a {
        color : $charcoal_grey;
        text-decoration : none;
        &:hover { text-decoration : underline; }
    }
}
/* end breadcrumb */

/* start subnav */
#sub_navigation {
	padding : 3px;
	background-color: $off_white;
	border : 4px solid $even_lighter_grey;
	font-size : 80%;
    li {
        background-color : $white;
        border: 1px solid $lighter_grey;
        margin-left : 2px;
        margin-bottom : 3px;
        padding-right : 5px;
        text-align : right;
        list-style: none;
        display : list-item;
    }
    a {
        background-color : $white;
        color : $orange;
        text-decoration : none;
        &:hover { text-decoration : underline; }
    }
}
/* end subnav */
/* start login */
#login {
	padding : 3px;
	border : 4px solid $even_lighter_grey;
	font-size : 85%;
    h2 {
        padding-top : 4px;
        padding-left : 5px;
        padding-bottom : 4px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $fancy_red;
        font-size : larger;
        font-weight : bold;
        color : $charcoal_grey;
        text-transform : uppercase;
    }
    p {
        font-weight : bold;
        color : $fancy_red;
        line-height : 25px;
    }
    input {
        border : 1px solid $even_lighter_grey;
        font-weight : bold;
        font-size : 120%;
        color : $fancy_red;
    }
    .button {
        font-size : 90%;
        font-weight : bold;
        padding : 2px;
        margin : 2px;
        border : 2px solid $even_lighter_grey;
        color : $white;
        background-color : $fancy_red;
    }
}
/* end login */

/* start login */
#dropplet {
	margin-top : 10px;
	padding : 3px;
	border : 4px solid $even_lighter_grey;
	font-size : 85%;
    h2 {
        padding-top : 4px;
        padding-left : 5px;
        padding-bottom : 4px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $brick_red;
        font-size : larger;
        font-weight : bold;
        color : $charcoal_grey;
        text-transform : uppercase;
    }
    h4 {
        font-size : 110%;
        padding-bottom : 0;
        margin-bottom : 0;
    }
    p {
        margin-top : 5px;
        font-size : 120%;
        font-weight : normal;
        color : $black;
        line-height : 18px;
    }
    a {
        font-weight : bold;
        color : $brick_red;
        line-height : 18px;
        text-decoration : none;
        &:hover { text-decoration : underline; }
    }
    .date {
        font-weight : normal;
    }	
}
/* end dropplet */

#central {
	padding : 4px;
	border : 4px solid $even_lighter_grey;
	font-size : 85%;
    h2 {
        padding-top : 4px;
        padding-left : 5px;
        padding-bottom : 4px;
        margin-bottom : 10px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $light_blue;
        font-size : larger;
        font-weight : bold;
        color : $charcoal_grey;
        text-transform : uppercase;
    }
    h3.cv {
        display: block;
        color: $light_blue;
        padding-left : 5px;
        margin-top : 5px;
        margin-bottom : 5px;
    }
    h4 {
        padding-left : 5px;
        margin-top : 5px;
        margin-bottom : 5px;
        font-size : 120%;
    }
    h6 {
        padding-top : 4px;
        margin : 0;
    }
    p {
        padding : 5px;
        margin : 0;
    }
    li {
        background-color : $white;
        padding : 0;
        margin-left : 5px;
        margin-bottom : 0px;
        text-align : left;
        list-style: none;
        display : list-item;
    }
    input {
        margin-top: 5px;
        border : 1px solid $even_lighter_grey;
        font-weight : bold;
        font-size : 100%;
        color : $light_blue;
        background-color : $white;
    }
    textarea {
        border : 1px solid $even_lighter_grey;
        font-weight : bold;
        font-size : 100%;
        color : $light_blue;
        font-family : Verdana,Sans-serif;
        background-color : $white;
    }
    select {
        border : 1px solid $even_lighter_grey;
        font-weight : bold;
        font-size : 100%;
        color : $light_blue;
        background-color : $white;
    }
    .button {
        font-size : 85%;
        font-weight : bold;
        padding : 2px;
        margin : 2px;
        border : 2px solid $even_lighter_grey;
        color : $white;
        background-color : $light_blue;
    }
    a {
        color : $light_blue;
        text-decoration : none;
        text-transform : uppercase;
        text-align : right;
        &:hover { text-decoration : underline; }
        &:visited { color : $brick_red; }
    }
    .floatleft {
        float: left;
        margin: 5px 10px 10px 10px;
        clear: left;
        padding-top : 4px;
        padding-left : 4px;
        padding-right : 4px;
        padding-bottom : 4px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $drop_shadow_grey;
    }
    .floatleft2 {
        float: left;
        margin: 5px 10px 10px 10px;
        clear: left;
        padding-top : 4px;
        padding-left : 4px;
        padding-right : 4px;
        padding-bottom : 4px;
    }
    .floatright {
        float: right;
        margin: 5px 10px 10px 10px;
        clear: right;
    }
    .case {
        padding-top : 4px;
        padding-left : 4px;
        padding-right : 4px;
        padding-bottom : 4px;
        margin-bottom : 10px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $drop_shadow_grey;
    }
    .case2 {
        padding: 0;
    }
    .content_item {
        padding : 4px;
        margin-bottom : 10px;
        border-top : 1px solid $shade_of_grey;
        border-left : 1px solid $shade_of_grey;
        border-right : 1px solid $shade_of_grey;
        border-bottom : 3px solid $light_blue;
        color : $charcoal_grey;
    }
    .personal-details {
        padding-left : 5px;
        margin-top : 5px;
        margin-bottom : 15px;
    }
}
/* start footer */
footer {
	text-align : center;
	padding-bottom : 10px;
	width : 765px;
    p {
        color : $charcoal_grey;
    }
    a {
        color : $charcoal_grey;
        text-decoration : none;
        &:hover { text-decoration : underline; }
    }
} html>body {width: 765px;}

/* end footer */
/* end body */
/*forms */
.row {
    clear: both;
    padding-top: 10px;
    span.label {
        float: left;
        width: 75px;
        text-align: right;
    }
    .formw {
        float: right;
        width: 315px;
        text-align: left;
    }
}
