@import "globals";
@import "structure";
@import "style";
@import "tags";

/* Default widths */
#content {
    width:755px;
    .maincol { width:560px; }
    .subcol { width:140px; }
    .xcol { width:180px; }
    .col-MSX .wrap, .col-SMX .wrap { width:560px; }
    .col-MSX .maincol, .col-SMX .maincol { /* Overiding widths */ width:410px; }
    .col-MSX .subcol, .col-SMX .subcol { /* Overiding widths */ width:130px; }
}




