/*
-----------------------------------------------
adaptive path basic style
version:  2003.06.15
----------------------------------------------- */

body {
  margin:0;
  padding:0;
  background:#fff;
  color:#000;
  font:x-small Verdana,Sans-serif;
  voice-family: "\"}\"";
  voice-family:inherit;
  font-size:small;
} html>body {font-size:small;}

/* Column Structure
----------------------------------------------- */
#content {
  padding-top:10px;
  margin-left:10px;
}

    .maincol {
      float:left;
      margin:0;
      font-size:85%;
      line-height:1.5em;
    }
    .subcol {
      float:right;
      margin:0;
      font-size:85%;
      line-height:1.5em;
    }
    .xcol {
      float:right;
      font-size:85%;
      line-height:1.5em;
    }

    .col-M .maincol {
      float:none;
      width:100%;
    }
    .col-SM .xcol, .col-MS .xcol, .col-M .subcol, .col-M .xcol { display:none; }
    .col-SM .maincol, .col-SMX .maincol { float:right; }
    .col-SM .subcol, .col-SMX .subcol { float:left; }
    .col-MSX .wrap, .col-SMX .wrap { float:left; }
/* Footer
----------------------------------------------- */
#footer {
  clear:both;
  padding-top:15px;
  font-size:85%;
}

    #footer .hide {
        display : none;
    }