.row.clearfix

  .four.columns.alpha
    .boxee
      %img{:src=> "/assets/logo.png"}
  .eight.columns
    .boxee

      .lhs.vcard
        .name{:lang => "en"}
          %h2.fn.n
            %span.given-name Greg
            %span.family-name Stewart
          %h2.title{:lang =>"en"} Consultant / Developer
        %dl.info
          %dt.email
            %abbr.type{:title => "email"} Email
          %dd
            %i.icon-envelope
              =render 'partials/encrypted_email'
        %dl.tel
          %dt.phone
            %abbr.type{:title => "work"} Phone
          %dd
            %i.icon-phone-sign
              %span.value +44 208 2869246
          %dt.mobile
            %abbr.type{:title => "cell"} Mobile
          %dd
            %i.icon-phone-sign
              %span.value +44 7891 032239
          %dt.skype
            %abbr.type{:title => "Skype"} Skype
          %dd
            %i.icon-skype
              %a.url{:href => "skype:wildecard1999?call", :accesskey => "S", :tabindex => "4"} Skype me

        .address
          %i.icon-home
          %abbr.type{:title => "home"} Home
          %span{:lang => "en", :"xml:lang" => "en"}
            %span.street-address 547 Kingston Rd
            %span.locality Raynes Park
            %span.region London
            %span.postal-code SW20 8SF
  .four.columns.omega
    .boxee
      %a.url.icon{:href => "http://www.linkedin.com/in/gregstewart", :accesskey => "L", :tabindex => "3", :title => "Click to view LinkedIn profile"}
        %i.icon-linkedin-sign{:title => "LinkedIn icon"}
