<!-- Header row -->
%header
  %h3 Header
  #logo
  #tag
    = image_tag("tag_line.gif", :alt => "Form follows function", :longdesc= => "tag_line.txt")
  %hr
    = render 'partials/navigation'
<!-- End header row -->