%meta{ "http-equiv" => 'Content-Type', :content => "text/html; charset=utf-8" }
%meta{ :name => "language", :content => "en" }
%meta{ "http-equiv" => "Content-Language", :content => "en-uk" }
%meta{ :name => "author", :content => "Greg Stewart" }
%meta{ :name => "Copyright", :content => "Copyright (c) 1995-2010 Teacup In A Storm" }
%meta{ :name => "description", :content => "Web developer based in London (UK) who has worked with clients from around the globe. Specialise in simple and effective web development solutions using web standards (HTML and CSS) based design with a focus on usability and accessiibility, as well as a raft of technology solutions for the back end." }
%meta{ :name => "keywords", :content => "web site design minimalism w3c standards simple simplicity web-design usability compliant javascript AJAX" }
%meta{ :name=>"viewport", :content=> "width=device-width, initial-scale=1, maximum-scale=1"}