/ Navigation
%navigation

  %ul
    %li= link_to "home", root_path, :title => "Home [h]", :accesskey => "h"
    %li= link_to "portfolio", portfolio_path, :title => "Portfolio [p]", :accesskey => "p"
    %li= link_to "cv", cv_path, :title => "CV [c]", :accesskey => "c"
%br
/ End navigation


