@import url(/stylesheets/structure.css);
@import url(/stylesheets/style.css);
@import url(/stylesheets/tags.css);
/* Default widths */
#content {
  width: 755px; }

.maincol {
  width: 560px; }

.subcol {
  width: 140px; }

.xcol {
  width: 180px; }

.col-MSX .wrap, .col-SMX .wrap {
  width: 560px; }

/* Overiding widths */
.col-MSX .maincol, .col-SMX .maincol {
  width: 410px; }

.col-MSX .subcol, .col-SMX .subcol {
  width: 130px; }
