// funky box with curved drop shadow
.boxee {
  position: relative;
  border:  1px solid rgb(147,136,131);
  background-color: rgb(245,244,243);
  padding: 1em;
  text-align: center;

  .timeline & {
    text-align: left;
  }

  &.stacked {
    margin-bottom: 1em;
  }

  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;

    .timeline & {
      top: 40%;
    }

    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  &:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }


  @media only screen and (max-width: 767px) and (min-width: 320px) {
    margin: 0 0 2em 0;
  }

  img {
    width: 100%;
    height: 100%;

    &.vimeo {
      border:  1px solid rgb(147,136,131);
    }

    &.instagram {
      border: none;
    }

    @media only screen and (max-width: 767px) and (min-width: 320px) {
      width: 50%;
      height: 50%;
    }

    @media only screen and (max-width: 767px) and (min-width: 320px) {
      &.instagram {
        border: none;
        width: 100%;
        height: 100%;
      }
      &.vimeo {
        width: 100%;
        height: 100%;
      }
    }
  }
}
