<h1>Curriculum Vitae</h1>

<h2>Personal</h2>
<div class="personal-details">
  <strong>Name:</strong> Gregory V. Stewart<br />
  <strong>Date of Birth:</strong> 14 Nov. 1971<br />
  <strong>Marital Status:</strong> Married<br />
  <strong>Nationality:</strong> British<br />
  <strong>Phone:</strong> +44 208 2869246<br />
  <strong>Mobile:</strong> +44 7891 032239<br />
  <strong>E-mail:</strong> <%= render 'layouts/encrypted_email' %><br />
  <strong>Web:</strong> <a href="http://gregs.tcias.co.uk">http://gregs.tcias.co.uk</a><br />
  <strong>LinkedIn:</strong> <a href="http://uk.linkedin.com/in/gregstewart">http://uk.linkedin.com/in/gregstewart</a><br />
  <strong>Github:</strong> <a href="https://github.com/gregstewart">https://github.com/gregstewart</a><br />
</div>
<h2>Skills [Experience in years]</h2>
<h3 class="cv">Languages</h3>
<p>ColdFusion [10], PHP [5], .Net (asp/C#) [3], Perl [2], JSP [1], (x)HTML [9], CSS [7], JavaScript [9], Java [4], XML [5.5], XSL/XSLT [5.5], Flash/Actionscript [2], Flex [1], Groovy [1], Ruby [0.5]</p>
<h3 class="cv">Application servers</h3>
<p>Tomcat [2], JRun [5.5], Atg [0.5], Jetty [1]</p>
<h3 class="cv">Frameworks</h3>
<p>Spectra [1], FuseBox [3], MachII [5], ColdSpring [3], Model-Glue [1], Grails [0.5], Rails [0.5], PrototypeJS [4], JQuery [1]</p>
<h3 class="cv">Databases</h3>
<p>MS SQL [8], Oracle [2.5], MySQL [6], Postgres [2], CouchdB [0.5]</p>
<h3 class="cv">Web servers</h3>
<p>IIS [8.5], Apache [8.5], nGinx [0.5]</p>
<h3 class="cv">Operating systems</h3>
<p>Windows [12], Linux [8], Novell [2.5], Solaris [2], Os X [5]</p>

<h2>Languages</h2>
<p>Fluent in English, German and French and a working knowledge of Russian and Italian</p>

<h2>Education and Qualifications</h2>
<p>1997 Master of Science in Computing for Business (Staffordshire University)</p>
<p>1994 First Class BA Joint Honours in Russian Studies and German (University of Keele)</p>

<h2>Certification</h2>
<p>Certified Advanced Macromedia ColdFusion MX 7 Trainer (12/2006)</p>
<p>Certified Advanced Macromedia ColdFusion MX 7 Developer (10/2006)</p>
<p>Macromedia Cold Fusion 5 Developer Certified Professional (8/2001)</p>
<p>Microsoft Certified Professional Windows NT 4.0 Workstation (9/1999)</p>
<p>Microsoft Certified Professional Networking Essentials (10/1999)</p>

<h2>Training</h2>
<p>Flex 2: Programming the Visual Experience (07/2007)</p>
<p>Flex 2: Developing Rich Client Applications (02/2007)</p>
<p>Flex 2: Data and communications (02/2007)</p>
<p>Java Programming Language SL-275 (12/2004)</p>
<p>Java Programming Introduction JT-0241 (1/2002)</p>
<p>Macromedia Advanced Flash 4 (11/2000)</p>
<p>Macromedia Flash 4 (11/2000)</p>
<p>Macromedia Generator 2 (11/2000)</p>
<p>Macromedia Dreamweaver 3 and Fireworks 3 (11/2000)</p>
<p>Allaire Spectra for Developers (1/2000)</p>
<p>Implementing and Supporting Microsoft Windows NT Server 4.0 in the Enterprise (1999)</p>
<p>Implementing and Supporting Microsoft Windows NT Server 4.0 (1999) </p>
<p>Administering Microsoft SQL Server 6.5 (1999)</p>
<p>Designing and Implementing Databases with Microsoft SQL 6.5 (1999)</p>
<p>Microsoft Networking Essentials (1999)</p>
<p>Microsoft Windows NT 4.0 Workstation (1999)</p>


<h2>Experience</h2>

<h3 class="cv">June 2005 to Present - Contractor (UK) / Technical Manager (Australia) / Senior Developer (UK) - Hometrack Data Systems</h3>
<p>What initially started out as a short term contract before returning to Australia, turned out to be one of those rare opportunities that allows one explore all facets and challenges of being part of a successful technology start up. I have been involved in all of the products, be they in housing intelligence, corporate or lending solutions at all stages of the SDL and beyond.</p>

<p>After having relocated to Australia and spent some time working on UK based products for Hometrack UK, the company started exploring the option to open an Australian office and I was tasked with porting the UK Automated Valuation Model and Desktop valuation tools to the Australian market. Not only were rapid development iterations and release cycles to meet market demands required, but data sourcing and importing for both sets of products relied heavily on regular housing data and geo spatial data updates (which translated to 1TB of raw data imports from multiple sources every month). In addition, I assisted with the set up of the Australian business, the infrastructure that delivered the solutions, was responsible for the monthly releases and became a key member in the sales process by providing technical support during tenders and client interactions.</p>

<p>Over the course of just a couple of years, we had grown from nothing to a successful business that was able to boast B2B links with most of the major Australian lenders and Mortgage Insurers. The challenges, depth, variety, as well as successes have been a career highlight. I am now back in the UK, where I continue to assists with the delivery of Australian products to facilitate the on-going hand over to local staff, but am gradually getting more involved in the delivery of UK products.</p>

<p><strong><strong>Technology:</strong></strong> OS: Windows 2003; Web Server: IIS/Apache; Database:  MS SQL 2000/05/08, PostGres; Application Server: CFMX 7/8/Java/Groovy/C#; URL: http://www.hometrack.co.uk/</p>


<h3 class="cv">May 2004 to May 2005 - Simmons and Simmons (England) - Programmer Analyst</h3>
<p>I was responsible for driving the development process, helping define coding standards and educate the team members in sound development processes based on the DSDM agile development methodology and introducing ColdFusion development frameworks (FB4 and Mach-II).</p>

<p>In terms of application development, I was principally involved in developing ColdFusion based intranet applications that would facilitate the migration to the new business management solutions. Furthermore I was involved with designing and implementing a new Oracle based Intranet/Portal application. This solution allowed for a single-sign-on into 4 business applications as well as a flash remoting/ColdFusion/Java based dash board, which displayed current CRM, workflow and financial information to users with appropriate access rights for 2000 global users. All applications were built using the Mach-ii framework.</p>

<p><strong>Technology:</strong> OS: Solaris,Debian,Windows 2000; Web Server: Apache; Database:  Oracle; Application Server: CFMX 6.1 and 7, Oracle Portal & 10g; Mail server: Sendmail; URL: http://www.simmons-simmons.com/</p>


<h3 class="cv">June 2003 to May 2004 - Haymarket Publishing (England) - Senior Developer</h3>
<p>Designed a new application framework based on FuseBox specifically for ColdFusion Components. Integrated this framework into a front end templating framework that relies on Web Standards (using xHTML/CSS) to deliver accessible (level 1 and level 2 compliant), layout flexible and user centered interfaces.</p>

<p>The role also involved defining the scope, the design and development of new web sites for both internal and external clients, as well as the maintenance of 40 plus ColdFusion based websites and supporting the Linux mail servers.</p>

<p><strong>Technology:</strong> OS: Windows 2000,Linux; Web Server: IIS, Apache; Database:  MS SQL; Application Server: CFMX; Mail server: Qmail; URL: http://www.brandrepublic.com/, http://www.revolutionmagazine.com/, http://jobs.brandrepublic.com/</p>


<h3 class="cv">April 2003 to May 2003 - Reach-conferencing (Australia/England) - Contract</h3>
<p>Reach conferencing hired me to design and implement their corporate on-line identity. While being responsible for the requirements gathering, project management and client liaison, the site was designed, developed (using PHP/MySQL, Web Standards [xHTML/CSS] and accessibility guidelines [WAI compliant]) and integrated with a custom built CMS that would allow them to maintain full control over the site and publish content. The project was delivered over a period of three weeks.</p>

<p><strong>Technology:</strong> OS: Linux; Web Server: Apache; Database: MySQL; Application Server: PHP; URL: http://www.reach-conferencing.com/</p>


<h3 class="cv">March 2003 to April 2003 - Chandler Macleod Group (Australia) - Contract</h3>
<p>The Chandler Macleod Group are human resources company that were in the process of upgrading and moving their corporate site, along with a multitude of micro sites belonging to separate brands owned by the group to a new ISP. I was employed to help in the migration, to re-develop/enhance old ColdFusion applications (tax calculator, online registration/quiz and a searchable case study library) and integrate these into the new corporate MS SQL database. I was also consulting on the design of said database and responsible for the implementation. The role involved liaising with a number of the company’s divisions and daughter companies to deliver the solutions.</p>

<p><strong>Technology:</strong> OS: Windows 2000; Web Server: IIS; Database: MS SQL; Application Server: Cold Fusion 5.0; URL: http://www.chandlermacleod.com.au/, http://www.payselect.com.au/</p>


<h3 class="cv">October 2001 to March 2003 - Clear Blue Day (Australia) - Director of technology</h3>
<p>My key responsibilities for Clear Blue Day centred around the development of the technical team and IT infrastructure. I was responsible for all aspects of the SDL, from initial requirements gathering through to implementation and support, always working directly with the client. Furthermore I formulated the development methodology and coding standards for the company. As such I was responsible for the administration for both internal (production and development) and external (web/email hosting) servers.</p>

<p>The clients I dealt with, included Diageo (http://www.johnniewalker.com.au/ - on-line event booking and management system), Sunbeam (http://www.sunbeam.com.au/ - Corporate/product web site), MacDonalds (http://www.emacxp.com.au/ - web and interactive TV application for on-line food ordering), Blue Mountain City Council (http://www.bmcc.nsw.gov.au/ - a suite of applications covering local council information, interactive topographical mapping, as well as health and safety quizzes).</p>

<p><strong>Technology:</strong> OS: Windows 2000, Linux; Web Server: IIS, Apache; Database:  MS SQL, MySQL; Application Server: Cold Fusion 4.5.1sp2/CFMX, ASP, PHP; Mail server: Sendmail</p>


<h3 class="cv">August 2001 to September 2001 - Robbie Slater.com (Australia) - Contract</h3>
<p>Invited to define, design and implement a web site for former Socceroo and English Premiership Championship winner, Robbie Slater, who now works as a TV pundit for Sky Sports. The goal of the project was to allow the delivery of both fresh and syndicated news, league tables and commentary on issues surrounding the Australian game. By integrating a set of existing content syndication tools into a custom CMS built using PHP/MySQL the project was rapidly delivered.</p>

<p><strong>Technology:</strong> OS: Linux; Web Server: Apache; Database:  MySQL, Application Server: PHP, URL: http://www.robbieslater.com/</p>


<h3 class="cv">April 2001 to August 2001 - Salmat (Australia) - Contract</h3>
<p>Hired by the Information Technology Group (ITG) to head up and train the internal web development team, with the specific task to scope, design and develop the first phase of the ColdFusion based Salmat Extranet leveraging the company’s information systems. This phase, which was completed three weeks ahead of schedule, set out the foundations for future development by implementing a modular and flexible application framework, while still maintaining a high level of secure and granular access control.</p>

<p><strong>Technology:</strong> OS: Windows NT, Solaris; Web Server: IIS; Databases:  Oracle, ACT, Paradox, SMARTs (Pick), StartFire and Prism; Application Server: Cold Fusion 4.5.2; URL: http://www.salmat.com.au/eServices/</p>


<h3 class="cv">August 2000 to March 2001 - Sapient (Australia) - Site Developer</h3>
<p>At Sapient my role focused on the client side (using HTML/xHTML, JavaScript, dHTML, Flash, ActionScript) delivery of web applications. The role allowed me to interact with all the other disciplines involved in the project lifecycle by virtue of being responsible from start to the final delivery of projects. The main responsibilities lay in the development of the user interface (from an IA and design perspective) to preparing the front-end templates, where special care to standards and optimization was paid, and finally integrating these into the back end.</p>

<p><strong>Technology:</strong> OS: Windows NT, Linux; Web Server: IIS; Database: MS SQL, MySQL; Application Server: ASP, ATG, PHP, JSP; URL: http://www.fujixerox.com.au/, http://www.oculi.com.au/, http://www.thefarmshed.com.au/</p>


<h3 class="cv">May 2000 to August 2000 - Nemas Pty Ltd (Australia) - Lead developer</h3>
<p>As the lead developer, I headed up a team of four other developers, where I not only briefed and managed their workload, but was also responsible for the analysis and definition of projects, all the while feeding back the progress to both management and the client.</p>

<p>The work varied from on-line publishing systems for the lifestyle publication InsideOut, to interactive and dynamic news applications for News Interactive during the run up to the Olympics (the Torch Tracker, which allowed for near real time data and photo updates on the Olympic torch bearers as these toured Australia). For the GOLQ commerce portal, in which I was also involved, I delivered a portable Shopping Cart solution.</p>

<p><strong>Technology:</strong> OS: Windows NT, Solaris; Web Server: IIS, Apache; Database: MS SQL, Oracle; Application Server: ColdFusion 4.5.1; URL: http://www.insideout.com.au/, http://www.golq.com.au/, http://www.ourolympics.com.au/</p>


<h3 class="cv">February 2000 to May 2000 - Next Pty Ltd (Australia) - Lead developer</h3>
<p>My responsibilities lay in the formation of a development team that would be able to take over the continuing development, improvement and expansion of Network Next, a ColdFusion/Spectra driven portal from a third party developer (Daemon Pty Ltd). This furthermore involved the strategic selection of an ISP as a partner, budgeting, server configuration and administration, devising content syndication for clients, along with the development of a new community portal that involved streaming video, audio, forums and chat sessions tying in closely with the Next magazine offering and their existing subscriber base.</p>

<p><strong>Technology:</strong> OS: Windows NT; Web Server: IIS; Database: MS SQL; Application Server: ColdFusion, Spectra; URL: http://www.internetau.com/, http://www.hyperactive.com.au/, http://www.rollingstoneweb.com.au/, http://www.25meg.com/, http://discuss.25meg.com/, http://chat.25meg.com/, http://www.networknext.com.au/</p>


<h3 class="cv">June 1997 to January 2000 - Entek IRD International Ltd. (UK)</h3>
<h4>October 1998 to January 2000 - IS&T Manager</h4>
<p>Was promoted in October 1998 to the IS&T manager responsible for the development, approval and subsequent implementation of the European NT server strategy. Monitoring and upgrading of existing network infrastructure to support sales, customer support, services and company administration. At the same time ensuring that the European strategy was fully synchronised with the Corporate network and support strategy [integrating global file serving and AS400 connectivity]. This involved continual liaison with the Corporate IT function in Cincinnati, Ohio.  Was responsible for gaining the approval for the UK and European IT network budget of £120,000 and subsequent monitoring of performance against budget and its effectiveness.</p>

<h4>June 1997 to October 1998 - IS&T Co-ordinator</h4>
<p>Responsible for the UK and European IT services of Entek IRD International, controlling a budget of £60,000 and achieving budget YTD expense performance. Assessed, reported on the existing IS&T infrastructure and devised the IS&T strategic vision for both the UK and European operations in conjunction with the US parent company. Design and set up of e-mail, cross continental Intranet/Extranet and Internet connectivity. Consolidation to one desktop OS and migration to NT based network from Novell. Company champion for internet related services.</p>

<p><strong>Technology:</strong> OS: Windows NT 4.0, Linux and Novell; Web Server: IIS 4, Apache; SQL server:  MS Access, MS SQL 6.5, Oracle 6, Pick, AS400; Application Server: ColdFusion, ASP Classic; E-mail server: Sendmail; Firewall: Cisco/Linux</p>

<h2>About me</h2>
<p>I am dynamic, curious, engaging, thorough and conscientious. I know a lot about many things, but I am always in awe of how much more there is to know. Some call this a Jack of all trades and master of none, though I prefer to be considered a generalist with many interests. I enjoy problem solving and gaining a thorough understanding of the subject matters at hand.</p>

<p>I tend to become the go to guy, to bounce ideas off and discuss technical challenges. I do not actively seek out leadership roles, but they have a tendency to find me. I do not shy away from the responsibility, on the contrary I thrive in it. I consider myself extremely fortunate, that my job also happens to be my hobby.</p>

<p>I try to learn one new programming language a year. Last year it was Groovy and this year I am returning to Ruby. To keep myself sane I work on a few smaller projects that get re-written in the language of the year. I also try to continuously keep improving my tool set and encourage change.</p>

<p>Now that I am back in Europe I really want to find a role that will allow me to use, in addition to my technical skills and experience, my language skills. I have been somewhat frustrated over the years about my knowledge of French and German always being considered an asset, but never been put to good used. This is something I would really like to address.</p>

<p>When I am not spending time with my new family, writing code, reading, thinking of blog posts or contemplating a bike ride, I can be found online playing games.</p>
