%h2 Home

%hr
%p I have been building and developing web sites for clients both large and small all over the world for well over a decade now. I call myself very fortunate that my job is also my hobby.
.lhs.vcard
  .org{:title => "TCIAS Pty Ltd", :lang => "en"}
    %h2
      %span.orgtcias Teacup In A Storm
  .name{:lang => "en"}
    %h2.fn.n
      %span.given-name Greg
      %span.family-name Stewart
    %h2.title{:lang =>"en"} Consultant/Developer
  .info
    %h3
      %abbr.type{:title => "email"} Email

    =render 'partials/encrypted_email'
    %br
    %h3
      %abbr.type{:title => "blog"} Blog
    %a.blog{:href => "http://gregs.tcias.co.uk/", :accesskey => "W", :tabindex => "2"} gregs.tcias.co.uk
    %br
    %h3 Github
    %a.url{:href => "https://github.com/gregstewart", :accesskey => "G", :tabindex => "4"} Github
    %br
    %h3 LinkedIn
    %a.url{:href => "http://www.linkedin.com/in/gregstewart", :accesskey => "L", :tabindex => "3"} LinkedIn
    %br
    %h3 Skype
    %a.url{:href => "skype:wildecard1999?call", :accesskey => "S", :tabindex => "4"} Skype me
    %br
    %h3 Twitter
    %a.url{:href => "https://twitter.com/_greg_stewart_", :accesskey => "T", :tabindex => "5"} Twitter
    .tel
      %h3
        %abbr.type{:title => "work"} Phone
      %span.value +44 208 2869246
    .tel
      %h3
        %abbr.type{:title => "cell"} Mobile
      %span.value +44 7891 032239
    .tel
      %h3
        %abbr.type{:title => "work"} Office
      %span{:lang => "en", :"xml:lang" => "en"}
        %span.street-address 547 Kingston Rd
        %span.locality Raynes Park
        %span.region London
        %span.postal-code SW20 8SF
