<h2>Home</h2>
<hr />
<p>I have been building and developing web sites for clients both large and small all over the world for well over a decade now. I call myself very fortunate that my job is also my hobby.</p>
<div class="lhs vcard">
  <div class="org" title="TCIAS Pty Ltd" lang="en">
    <h2><span class="orgtcias">Teacup In A Storm</span></h2>
  </div>
  <div class="name" lang="en">
    <h2 class="fn n"><span class="given-name">Greg</span> <span class="family-name">Stewart</span></h2>
    <h2 class="title" lang="en">Consultant/Developer</h2>
  </div>
  <div class="info">
    <h3><abbr class="type" title="email">Email</abbr></h3>
    <%= render 'layouts/encrypted_email' %>
    <br />
    <h3><abbr class="type" title="blog">Blog</abbr></h3>
    <a class="blog" href="http://gregs.tcias.co.uk/" accesskey="W" tabindex="2">gregs.tcias.co.uk</a><br />
    <h3>Skype</h3>
    <a class="url" href="skype:wildecard1999?call" accesskey="S" tabindex="3">Skype me</a>
    <div class="tel"><h3><abbr class="type" title="work">Phone</abbr></h3><span class="value">+44 208 2869246</span></div>
    <div class="tel"><h3><abbr class="type" title="cell">Mobile</abbr></h3><span class="value">+44 7891 032239</span></div>
    <div class="adr"><h3><abbr class="type" title="work">Office</abbr></h3><span lang="en" xml:lang="en"><span class="street-address">23 Newtown Rd</span> <span class="locality">Wimbledon</span> <span class="region">London</span> <span class="postal-code">SW19 3PJ</span></span></div>
  </div>
</div>
				