%h2 Home

.four.columns.alpha
  .boxee
    %img{:src=> "/assets/logo.png"}
.four.columns
  %p
.four.columns
  %p
.four.columns.omega
  .boxee

    .lhs.vcard
      .name{:lang => "en"}
        %h2.fn.n
          %span.given-name Greg
          %span.family-name Stewart
        %h2.title{:lang =>"en"} Consultant/Developer
      %dl.info
        %dt.email
          %abbr.type{:title => "email"} Email
        %dd
          %i.icon-envelope
            =render 'partials/encrypted_email'
        %dt.blog
          %abbr.type{:title => "blog"} Blog
        %dd
          %i.icon-pencil
            %a.blog{:href => "http://gregs.tcias.co.uk/", :accesskey => "W", :tabindex => "2"} gregs.tcias.co.uk
        %dt.github
          %abbr.type{:title => "github"} Github
        %dd
          %i.icon-github-alt
            %a.url{:href => "https://github.com/gregstewart", :accesskey => "G", :tabindex => "4"} Github
        %dt.linkedin
          %abbr.type{:title => "LinkedIn"} LinkedIn
        %dd
          %i.icon-linkedin-sign
            %a.url{:href => "http://www.linkedin.com/in/gregstewart", :accesskey => "L", :tabindex => "3"} LinkedIn
        %dt.twitter
          %abbr.type{:title => "twitter"} Twitter
        %dd
          %i.icon-twitter-sign
            %a.url{:href => "https://twitter.com/_greg_stewart_", :accesskey => "T", :tabindex => "5"} Twitter
      %dl.tel
        %dt.phone
          %abbr.type{:title => "work"} Phone
        %dd
          %i.icon-phone-sign
            %span.value +44 208 2869246
        %dt.mobile
          %abbr.type{:title => "cell"} Mobile
        %dd
          %i.icon-phone-sign
            %span.value +44 7891 032239
        %dt.skype
          %abbr.type{:title => "Skype"} Skype
        %dd
          %i.icon-phone-sign
            %a.url{:href => "skype:wildecard1999?call", :accesskey => "S", :tabindex => "4"} Skype me

      .address
        %i.icon-home
        %abbr.type{:title => "home"} Home
        %span{:lang => "en", :"xml:lang" => "en"}
          %span.street-address 547 Kingston Rd
          %span.locality Raynes Park
          %span.region London
          %span.postal-code SW20 8SF
