%h2 Portfolio

%hr

.case
  %img{haml_image_tag("images/case/hometrack_case_1.gif", "Hometrack")}
  %h4 Hometrack
  %p My most recent and current place of work. I have been helping them deliver online solutions in the AVM market delivering AJAX driven interfaces that interact with their platforms to deliver rich and interactive applications.
  %p{:align => "right"}
    %a{:href => "http://www.hometrack.co.uk/", :title => "Go to the website: Hometrack - The UK's leading housing intelligence business"} Visit the website
    %img{haml_image_more_tag}
    %a{:href => "#", :"data-reveal-id" => "myModal" } View Samples
    %img{:src => "images/tcias_more.gif", :alt => "View samples", :align => "absmiddle", :width=> "16", :height => "16", :border => "0"}

    #myModal.reveal-modal.large{:data => {:"dismissmodalclass" => "close-reveal-modal"}}
      #hometrack-featured
        %img{:src => "images/case/large/rt.jpg", :alt => "Realtime Australia" }
        %img{:src => "images/case/large/htv.jpg", :alt => "Hometrack Valuer Australia" }
        %img{:src => "images/case/large/sitemap.jpg", :alt => "Sitemap UK" }
        %img{:src => "images/case/large/his-1.png", :alt => "HIS analysis view UK" }
        %img{:src => "images/case/large/his-2.png", :alt => "HIS comps view UK" }
        %span{:class => "orbit-caption", :id => "htmlCaption"}
      %a.close-reveal-modal &#215;
    
.case
  %img{haml_image_tag("images/case/rocketboots_case_1.gif", "Rocketboots")}
  %h4 Rocketboots
  %p While in Australia I was also acting as a consultant for Rocketboots, providing ColdFusion training and assisting with ColdFusion and Flex based consulting.
  %p{:align => "right"}
    %a{:href => "http://www.rocketboots.com/site/", :title => "Go to the website: Rocketboots - Great Software can Change the World."} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/new_leaf_healing_case_1.gif", "New Leaf Healing")}
  %h4 New Leaf Healing
  %p A small static site I built for a friend in Sydney to promote her hypnotherapy business.
  %p{:align => "right"}
    %a{:href => "http://www.newleafhealing.com.au/", :title => "Go to the website: New Leaf Healing - the holistic approach to your health"} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/white_point_er_case_1.gif", "White Pointer")}
  %h4 White Pointer
  %p Another project for a friend looking to put her portfolio of re-touching work online as she was heading out to the US. Built using her imagery the galleries are driven by a simple JavaScript library I wrote using Prototype JS.
  %p{:align => "right"}
    %a{:href => "http://www.whitepoint-er.com/", :title => "Go to the website: Whitepoint-er retouching"} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/plain_enlgish_foundation_case_1.gif", "Plain English Foundation")}
  %h4 Plain English Foundation
  %p I assisted <acronym title="Plain English Foundation">PEF</acronym> with the migration, re-styling and maintenance of their PHP based forums.

.case
  %img{haml_image_tag("images/case/simmons_case_1.gif", "Simmons &amp; Simmons")}
  %h4 Simmons &amp; Simmons
  %p One of the Uk's top 10 Law firms. During my time there I helped them upgrade and improve their ColdFusion powered web sites, helping them migrate their legacy code in their Intranet and corprate website to a CFC based architecture.
  %p I also developed and implemented solutions that interfaced with the new business management infrastructure.</p>
  %p{:align => "right"}
    %a{:href => "http://www.simmons-simmons.com/", :title => "Go to the website: Simmons & Simmons - a leading international law firm"} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/br_case_1.gif", "Brand Republic")}
  %h4 Brand Republic
  %p With over one million hits a day one of the busiest media information websites in the UK. I developed the original job portal and implemented a standards based templating system that interfaced with the newly created SMS that drives all of Haymarket's websites.
  %p{:align => "right"}
    %a{:href => "http://www.brandrepublic.com/", :title => "Go to the website: Brandrepublic - connecting advertising, media, marketing and PR"} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/tws_case_1.gif", "Talk Web Solutions")}
  %h4 Talk Web Solutions
  %p A friend of mine in the UK is the owner at <acronym title="Talk Web Solutions">TWS</acronym>. Most recently I have been assisting them with building the ArtReview website, adding in Google maps, calendar exports/imports and helping them build a todo application.
  %p{:align => "right"}
    %a{:href => "http://talkwebsolutions.co.uk/", :title => "Go to the website: Talk Web Solutions - Beautiful, functional web things"} Visit the website
    %img{haml_image_more_tag}

.case
  %img{haml_image_tag("images/case/reach_case_1.gif", "Reach Conferencing")}
  %h4 Reach Conferencing
  %p I helped this new Australian conferencing start up enter the on-line fray, define an on-line identity and implement a successful search engine optimised web site. </p>

.case
  %img{haml_image_tag("images/case/chandler_case_1.gif", "Chandler Macleod Group")}
  %h4 Chandler Macleod Group
  %p Chandler Macleod Group (CMG) are the largest Australian owned Recruitment and Human Capital management company, providing services to individuals and companies alike ranging from employment opportunities, outsourced salary packaging to on-line aptitude and psychology assessment.

.case
  %img{haml_image_tag("images/case/sapient_case_1.gif", "Sapeient")}
  %h4 Sapient
  %p I joined Sapient as a front end developer - building interfaces for <a href="http://www.thefarmshed.com.au/">The Farmshed</a>, <a href="http://www.fujixerox.com.au/">Fuji Xerox</a> and <a href="http://oculi.com.au/">Oculi</a>. It's a testimony of the talent at Sapient, that even the look and feel of site for Fuji Xerox has changed of the years, but the layout and <acronym title="Information Architecture">IA</acronym> have not.

.case
  %img{haml_image_tag("images/case/robbie_case_1.gif", "Robbie Slater")}
  %h4 Robbie Slater
  %p Former Premier League Football star and Socceroo, now Foxtel TV pundit, Robbie Slater was looking to make his voice heard on topics covering all aspects of football, but more specifically he wanted a forum to discuss the game in Australia. I was engaged to build a site with a bespoke CMS as wel as configure some forum software.

.case
  %img{haml_image_tag("images/case/masala_case_1.gif", "Masala Mix")}
  %h4 Masala Mix
  %p Masala Mix is a unique radio show broadcast on community radio 2SER-FM in Sydney. Each week the Masala Mix broadcasts a cross-pollinated sound which brings together Hindi film music, Bhangra, dhol break beats and  the latest in experimental Asian underground music.