<!-- Header row -->
<div id="header">
  <h3>Header</h3>
  <div id="logo"></div>
  <div id="tag"><%= image_tag("tag_line.gif", :alt => "Form follows function", :longdesc= => "tag_line.txt") %>
    <!--<img src="/images/tag_line.gif" alt="Form follows function" longdesc="/v2/tag_line.txt" height="26" width="294" /><a href="tag_line.txt">d</a>--></div>
  <hr />
</div>
<!-- End header row -->