<!-- Navigation -->
<div id="navigation">

  <h3>Navigation</h3>
  <ul>
    <li><%= link_to "home", home_path %><!--<a href="" title="HOME [h]" accesskey="h">HOME</a>--></li>
    <li><%= link_to "portfolio", portfolio_path %><!--<a href="portfolio.html" title="PORTFOLIO [p]" accesskey="p">PORTFOLIO</a>--></li>
    <li><%= link_to "cv", cv_path %><!--<a href="cv.html" title="PORTFOLIO [c]" accesskey="c">CV</a>--></li>
  </ul>
</div>
<br />
<!-- End navigation -->