<!DOCTYPE html>
<html>
  <head>
    <title>TCIAS | <%= @title %></title>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="language" content="en" />
    <meta http-equiv="Content-Language" content="en-uk" />
    <meta name="author" content="Greg Stewart" />
    <meta name="Copyright" content="Copyright (c) 1995-2010 Teacup In A Storm" />
    <meta name="description" content="Web design and development agency based in London (UK) with clients from around the globe. We specialise in simple and effective web development solutions and reliable hosting, using web standards (HTML and CSS) based design with a focus on usability and accessiibility, as well as a raft of technology solutions for th back end." />
    <meta name="keywords" content="web site design minimalism tutorials w3c standards simple simplicity web-design usability compliant AJAX FLEX AIR" />
    <!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
    <script type="text/javascript"></script>

    <style type="text/css">@import "/stylesheets/d.css";</style>
    <style type="text/css">
      /* Default widths */
      #content { width:755px; }
      .maincol { width:560px; }
      .subcol { width:140px; }
      .xcol { width:180px; }
      .col-MSX .wrap, .col-SMX .wrap { width:560px; }
      /* Overiding widths */
      .col-MSX .maincol, .col-SMX .maincol { width:410px; }
      .col-MSX .subcol, .col-SMX .subcol { width:130px; }
    </style>
  </head>
  <body class="col-SM">
    <%= yield %>
  </body>
</html>