/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * = require_tree .
 * = require_self
 */

@import 'skeleton/base.css.scss';
@import 'skeleton/layout.css.scss';
@import 'skeleton/skeleton.css.scss';
@import 'font-awesome.css.scss';
@import 'fonts.css.scss';


body {
  background-color: rgb(215,211,207);
  header {
    padding: 2em 0 0 0;
    background-color: rgb(245,244,243);
    text-align: center;
  }
  h1, h2, h3, h4 {
    font-family: Junction;
    color:  rgb(147,136,131);
    span {
      color: rgb(246,96,19);
      text-transform: uppercase;
    }

    @media only screen and (max-width: 767px) and (min-width: 480px) {
      font-size:  32px;
    }
  }
}

dt {
  display: none;
}

.boxee {
  border:  1px solid rgb(147,136,131);
  background-color: rgb(245,244,243);
  padding: 1em;
  text-align: center;

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    margin: 0.5em;
  }

  img {
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 767px) and (min-width: 480px) {
      width: 50%;
      height: 50%;
    }
  }
}

a.icon {
  text-decoration: none;
  color:  rgb(147,136,131);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 3px 3px 5px rgb(255,255,255);

  &:hover {
    color: rgb(153,204,255);
  }
}

i[class^="icon-"], {
  font-size:  140px;

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    font-size:  72px;
  }

  .vcard & {
    font-size:  100%;
  }
}

.inset-shadow {
  -moz-box-shadow:    inset 0 0 9px rgb(0,0,0);
  -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
  box-shadow:         inset 0 0 9px rgb(0,0,0);
}

.one-edge-shadow {
  -webkit-box-shadow: 0 6px 10px -6px rgb(0,0,0);
  -moz-box-shadow: 0 6px 10px -6px rgb(0,0,0);
  box-shadow: 0 6px 10px -6px rgb(0,0,0);
}


