- if get_last_url_item == "portfolio"
  %script{:src => "javascripts/jquery-1.5.min.js"}
  %script{:src => "javascripts/jquery.orbit.min.js"}
  %script{:src => "javascripts/jquery.reveal.js"}

  :javascript
      $(window).load(function() {
        $('#hometrack-featured').orbit(
          { bullets: true }
        );
       });
