<!-- Navigation -->
#navigation

  %h3 Navigation
  %ul
    %li= link_to "home", root_path
    %li= link_to "portfolio", portfolio_path
    %li= link_to "cv", cv_path
%br
<!-- End navigation -->
<!-- <a href="" title="HOME [h]" accesskey="h">HOME</a>-->
<!--<a href="portfolio.html" title="PORTFOLIO [p]" accesskey="p">PORTFOLIO</a>-->
<!--<a href="cv.html" title="PORTFOLIO [c]" accesskey="c">CV</a>-->

